[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
"fabric3" = "*"
pytest = "*"
"pytest-cov" = "*"
"pytest-pythonpath" = "*"
"tox-pyenv" = "*"
twine = "*"
flake8 = "*"
